body {
  overflow: hidden;
  padding: 0px;
}

#inputTextArea {
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  color: white;
  resize: none !important;
  padding: 10px !important;
  outline: none !important;
  border: none !important;
}

.input,
.output {
  height: 43vh;
  background-color: #1e1e1e !important;
  padding: 0px !important;
}

.output {
  color: white;
  padding: 10px !important;
  white-space: pre-wrap !important;
  overflow: scroll;
}

.outputComponent {
  padding: 0px !important;
  margin: 0px;
}

.heading {
  background-color: #272727;
  color: white;
  height: 7vh;
  padding: 10px;
}

.navbar {
  background-color: #1e1e1e;
}

#name {
  color: white;
  font-size: calc(1vw + 1vh + 1vmin);
  font-weight: bold;
}

.playground {
  background-color: #1e1e1e;
}

#runButton {
  padding: 5px 15px 5px 15px;
  background-color: #0c9463;
  color: white;
  font-weight: bold;
  border-radius: 40px;
  zoom: 120%;
  cursor: pointer;
  text-align: center;
  width: 100px;
}

#runButton:hover {
  background-color: crimson;
  transition: 0.5s ease;
}

#language,
#fontsize {
  color: black;
  width: 100px !important;
  text-align: center;
  border-radius: 40px;
  background-color: rgb(255, 226, 226);
}
